@import '../style/variables';

$ad-editor-min-width: 25em;
$ad-editor-default-border-color: $c-cool-gray-3;
$ad-editor-default-border: $ad-editor-default-border-color solid;
$ad-editor-default-border-width: thin;
$ad-editor-default-border-radius: rem-calc(4);
$ad-editor-default-editor-font-size: 0.875em;
$ad-editor-header-tab-active-color: $c-primary-blue;
$ad-editor-header-tab-padding: 0.75em;
$ad-editor-header-tab-line-height: 1em;
$ad-editor-header-tab-width: 6em;
$ad-editor-header-tab-background-color: $c-white;
$ad-editor-toolbar-background-color: $c-white;
$ad-editor-body-height: 12em;

$simple-edit-min-width: 10em;
$simple-edit-min-height: 6em;
$simple-edit-normal-color: $c-cool-gray-1;
$simple-edit-normal-bg-color: $c-white;
$simple-edit-readonly-color: $c-cool-gray-2;
$simple-edit-readonly-bg-color: $c-cool-gray-4;
$simple-edit-editor-bottom: calc(100% - 1.5em);
$simple-edit-editor-padding: 1em 1em 2em 1em;
$simple-edit-editor-font-size: rem-calc(14);
$simple-edit-count-right: 1em;
$simple-edit-count-bottom: 0.5em;
$simple-edit-count-danger-color: $c-warn-large;
$simple-edit-placeholder-color: $c-cool-gray-2;

$html-editor-padding: $simple-edit-editor-padding;
