@import 'ad-editor';

:host {
  .toolbar {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
      display: inline-block;
    }

    .language-picker {
      width: 8em;
    }

    .attribute-picker {
      width: 4em;
    }

    .default {
      flex: 1 0 auto;
      text-align: end;

      .clear {
        padding: $ad-editor-header-tab-padding;
        display: inline-block;
        color: $simple-edit-placeholder-color;
      }
    }
  }
}
