@import 'ad-editor';

:host {
  min-width: $ad-editor-min-width;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;

  .header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: flex-end;
    margin-bottom: -1px;

    > * {
      display: inline-block;
      width: $ad-editor-header-tab-width;
      padding: $ad-editor-header-tab-padding;
      line-height: $ad-editor-header-tab-line-height;
      border: $ad-editor-default-border thin;
      border-bottom-width: 0;
      background-color: $ad-editor-header-tab-background-color;
      text-align: center;
      cursor: pointer;

      &:first-child {
        flex-grow: 100;
        border-color: transparent;
        background-color: transparent;
      }

      &:not(:last-child) {
        border-right-width: 0;
      }

      &.active {
        position: relative;
        color: $ad-editor-header-tab-active-color;
      }
    }
  }

  .body {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    min-height: $ad-editor-body-height;

    border: $ad-editor-default-border thin;
    border-radius: $ad-editor-default-border-radius;

    op-ad-editor-toolbar {
      flex: 0 0 auto;
      border-top-left-radius: $ad-editor-default-border-radius;
      border-top-right-radius: $ad-editor-default-border-radius;
      border-bottom: $ad-editor-default-border thin;
      background-color: $ad-editor-toolbar-background-color;
    }
  }

  .text-view,
  .html-view {
    flex: 1 0 auto;
    background-color: $c-white;
    border-bottom-left-radius: $ad-editor-default-border-radius;
    border-bottom-right-radius: $ad-editor-default-border-radius;
  }

  .text-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;

    op-simple-edit {
      flex: 1 0 auto;
    }
  }

  .html-view {
    display: none;
    position: relative;
    font-size: $ad-editor-default-editor-font-size
  }

  [name="html-editor"] {
    position: absolute;
    color: $simple-edit-normal-color;
    width: 100%;
    height: 100%;
    padding: $html-editor-padding;
    font-size: inherit;
    border: none;
    resize: none;

    &:focus {
      outline: none;
    }
  }
}

:host(.advanced) {
  .text-view {
    display: none;
  }

  .html-view {
    display: block;
  }
}

:host(.advanced-enabled) {
  .body,
  op-ad-editor-toolbar {
    border-top-right-radius: 0;
  }
}
