<div class="header"
     *ngIf="advancedModeEnabled">
  <span></span>
  <span [ngClass]="advancedMode ? '' : 'active'"
        (click)="advancedMode = false">Text</span>
  <span [ngClass]="advancedMode ? 'active' : ''"
        (click)="advancedMode = true">HTML</span>
</div>
<div class="body">
  <op-ad-editor-toolbar (reset)="simpleEdit.clear()"></op-ad-editor-toolbar>
  <div class="text-view">
    <op-simple-edit #simpleEdit
                    [(ngModel)]="htmlOutput"
                    opTextContentLength
                    [placeholder]="placeholder"
                    [maxContentLength]="maxContentLength"
                    (blur)="_onTouched(null)"
                    (dataChange)="dataChange.emit($event)"></op-simple-edit>
  </div>
  <div class="html-view" *ngIf="advancedModeEnabled">
    <textarea name="html-editor"
              (blur)="_onTouched($event)"
              [(ngModel)]="htmlOutput"></textarea>
  </div>
</div>
