<div #editor class="editor"
     [attr.contenteditable]="!readonly"
     (keyup)="update()"
     (paste)="paste($event)"></div>
<span class="placeholder"
      *ngIf="placeholder && !editor.innerHTML">{{ placeholder }}</span>
<span class="count" *ngIf="maxContentLength">
  <span class="actual">{{characterCount$ | async}}</span> / {{maxContentLength}}
</span>
