@import 'ad-editor';

:host {
  display: block;
  position: relative;
  min-width: $simple-edit-min-width;
  min-height: $simple-edit-min-height;
  padding: $simple-edit-editor-padding;
  color: $simple-edit-normal-color;
  background-color: $simple-edit-normal-bg-color;
  border-radius: $ad-editor-default-border-radius;
  font-size: inherit;

  .editor {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: $simple-edit-editor-padding;
    overflow: auto;
    font-size: $ad-editor-default-editor-font-size;
    border-bottom-left-radius: $ad-editor-default-border-radius;
    border-bottom-right-radius: $ad-editor-default-border-radius;

    &:focus {
      outline: none;
    }
  }

  .editor:focus + .placeholder {
    visibility: hidden;
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: $simple-edit-editor-padding;
    color: $simple-edit-placeholder-color;
    font-size: $ad-editor-default-editor-font-size;
  }

  .count {
    position: absolute;
    right: $simple-edit-count-right;
    bottom: $simple-edit-count-bottom;
    color: $simple-edit-placeholder-color;
  }
}

:host(.readonly) {
  color: $simple-edit-readonly-color;
  background-color: $simple-edit-readonly-bg-color;
}

:host(.ng-invalid) {
  .actual {
    color: $simple-edit-count-danger-color;
  }
}
