@mixin op2-search-result-item-title {
  color: $c-cool-gray-1;
  font-size: $op-search-result-place-title-font-size;
}

@mixin op2-search-result-item-type {
  color: $c-cool-gray-2;
  font-size: $op-search-result-place-type-font-size;
}
