@mixin op2-thermometer-colors(
  $from-color: $op-thermometer-from-color,
  $to-color: $op-thermometer-to-color,
  $bg-color: $op-thermometer-bg-color
) {
  .active {
    $thin-border: 1px solid $bg-color; // thin border on two sides to mitigate background-color bled-out radius issue

    background-image: linear-gradient(to right, $from-color, $to-color);
    border-right: $thin-border;
    border-left: $thin-border;
  }

  .remainder {
    background-color: $bg-color;
  }
}

@mixin op2-thermometer(
  $from-color: $op-thermometer-from-color,
  $to-color: $op-thermometer-to-color,
  $height: rem-calc(6),
  $bg-color: $op-thermometer-bg-color
) {
  .op-thermometer {
    @include op2-thermometer-colors($from-color, $to-color, $bg-color);

    position: relative;
    overflow: hidden;

    &,
    .active {
      height: $height;
      border-radius: $height / 2;
    }

    .active,
    .remainder {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: $height;
    }

    .remainder {
      left: auto;
    }
  }
}
