$op2-icons-circled-config: (
  error: (
    color: $c-white,
    bg: $c-warn-small,
    icon: $op2-icon-error,
    icon-size: .8em
  ),
  pending: (
    color: $c-modal,
    bg: $c-pending,
    icon: $op2-icon-pending
  ),
  pause: (
     color: $c-positive,
     bg: $c-white,
    icon: $op2-icon-pause,
     hover: (
       color: $c-white,
       bg: $c-pending
     )
  ),
  play: (
    color: $c-pending,
    bg: $c-white,
    icon: $op2-icon-play,
    hover: (
      color: $c-white,
      bg: $c-positive
    )
  ),
  reset: (
    color: $c-cool-gray-1,
    bg: $c-white,
    icon: $op2-icon-reset,
    hover: (
      color: $c-white,
      bg: $c-cool-gray-1
    )
  ),
  id: (
    color: $c-cool-gray-1,
    bg: $c-cool-gray-3,
    icon: $op2-icon-id,
    icon-size: .8em
  )
);
