$icomoon-font-path: './assets/font-icons/fonts' !default;

@import '../font-icons/style';
@import 'circled-icons-config';

.op2-icon {
  @include op2-icon;
}

@each $name, $config in $op2-icons-circled-config {
  .op2-icon-circled-#{$name} {
    @include op2-icon-circled($config, map-get($config, "hover"));
  }
}
