// mixin content (rule-set) copied from `assets/font-icons/style.scss`
@mixin op2-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin select-op2-icon {
  [class^="op2-icon-"],
  [class*=" op2-icon-"] {
    @content;
  }
}

@mixin op2-icon-circled-size($size, $icon-size: null) {
  height: $size;
  width: $size;
  border-radius: $size / 2;
  font-size: $size;

  @if ($icon-size != null) {
    &:before {
      font-size: $icon-size;
    }
  }
}

@mixin op2-icon-circled($config, $hover-config: null, $size: rem-calc(30)) {
  @include op2-icon;
  @include op2-icon-circled-size($size, map_get($config, icon-size));

  display: inline-block;
  position: relative;
  background-color: map_get($config, bg);

  @if ($hover-config != null) {
    box-shadow: inset 0 0 0 rem-calc(2) $c-cool-gray-4;
  }

  &:before {
    @include op2-absolute-center;

    color: map_get($config, color);
    content: map_get($config, icon);
    z-index: 100;
  }

  @if ($hover-config != null) {
    &:hover {
      background-color: map_get($hover-config, bg);
      box-shadow: none;

      &:before {
        color: map_get($hover-config, color);
      }
    }
  }
}
