@import 'basic';

@mixin badge-basic {
  display: inline-block;
  padding: 0.1666666667em 0.66666666667em;
  box-sizing: content-box;
  height: 1.333333333em;
  font-size: rem-calc(12);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.8333333333em;
}

.badge {
  @include badge-basic;

  > .op {
    display: inline-block;
    font-size: 1em;
    vertical-align: baseline;
    position: relative;
    top: 0.15em;
  }

  &.badge-plain {
    color: $c-black;
    background-color: $c-cool-gray-3;
  }ƒ

  &.badge-success {
    color: $c-white;
    background-color: $c-positive;
  }

  &.badge-warn {
    color: $c-black;
    background-color: $c-yellow-1;
  }

  &.badge-pending {
    color: $c-black;
    background-color: $c-orange-2;
  }

  &.badge-danger {
    color: $c-white;
    background-color: $c-warn-small;
  }
}

