@import 'basic';
@import 'typography';

/**
 * There are multiple UI components in UXPL guide that are called "card", the CSS classes
 * defined in this module apply to horizontal cards that consists of multiple data cells.
 */
.card {
  $vertical-gap: rem-calc(6);
  $metric-width: rem-calc(161);

  /* a (horizontal) card is implemented as a flex box */
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: rem-calc(4);
  align-items: center;
  justify-content: space-between;
  list-style: none;

  /* generic settings for data cells of card */
  > * {
    display: block;
    flex: 0 0 auto;
    padding: rem-calc(24);
    white-space: nowrap;
    text-overflow: ellipsis;

    /* place holder for card header cell */
    &.main {

    }

    /* place holder for primary action cell */
    &.action {
    }

    &.secondary-actions {
      padding: 0;
      display: flex;
      flex-flow: column nowrap;

      > .action-item {
        @include t-body;
        flex: 1 1 auto;
        position: relative;
        text-align: center;
        white-space: normal;

        + .action-item {
          border-top: rem-calc(2) solid $c-cool-gray-4;
        }
      }

      .action-link {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
    }

    /* card > card cell > inner cell contents: tier-3 contents */

    /* top line inside a card cell */
    > .header {
      @include t-caption;

      display: block;
      padding-bottom: $vertical-gap;
      font-weight: $font-weight-regular;
      letter-spacing: rem-calc(0.86);
    }

    /* bottom line inside a card cell */
    > .footer {
      @include t-subheader;

      display: block;
      padding-top: $vertical-gap;

      @include select-op2-icon {
        @include op2-icon-circled-size(rem-calc(18));

        vertical-align: middle;
      }

      /* used in meta data in header */
      ul.info {
        display: inline-block;
        margin-right: rem-calc(12);
        padding: 0;
        color: $c-cool-gray-2;
        font-weight: $font-weight-regular;
        list-style: none;

        > li {
          $gap: rem-calc(12);

          display: inline-block;
          margin-right: $gap;

          + li::before {
            padding-right: $gap;
            margin-right: -.3em;
            content: '\2022\a0'; // bullet
            color: $c-black;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  /* specific card types */

  /* dashboard overview card */
  &.dashboard-overview {
    > * {
      @include t-headline;

      flex: 1 0 auto;
      height: rem-calc(140);
      padding: rem-calc(32);
      color: $c-white;
      background: linear-gradient((to right, lighten($c-primary-blue-1, 4%), $c-primary-blue-1));
      font-weight: $font-weight-bold;

      &:first-child {
        flex: 3 0 auto;
        background: $c-primary-blue-1;
      }
    }
  }

  /* overview card */
  &.overview {
    align-items: stretch;
    overflow: hidden;

    > * {
      @include t-headline;

      flex: 0 0 $metric-width;
      background-color: $c-white;
      font-weight: $font-weight-bold;
      overflow: hidden;

      .header {
        color: $c-cool-gray-1;
      }

      .increase,
      .decrease,
      .none {
        font-weight: $font-weight-regular;
      }

      .increase {
        color: $c-positive;
      }

      .decrease {
        color: $c-warn-large;
      }

      .none {
        color: $c-cool-gray-2;
      }

      .pending-review {
        @include t-body;

        color: $c-cool-gray-2;
        font-weight: $font-weight-regular;
      }

      .not-available {
        display: block;
        margin-top: rem-calc(16);
        height: rem-calc(4);
        width: rem-calc(23);
        border-radius: rem-calc(2);
        background-color: $c-cool-gray-2;
      }

      &.status {
        flex: rem-calc(0 0 8);
        padding: 0;
        width: rem-calc(8);

        &.success {
          background-color: $c-positive;
        }

        &.warn {
          background-color: $c-pending;
        }

        &.danger {
          background-color: $c-warn-large;
        }
      }

      &.main {
        flex: 1 1 auto;

        .header {
          font-size: rem-calc(16);
          line-height: rem-calc(18);
          text-transform: none;

          .type-icon,
          .type-name {
            display: inline-block;
          }

          .type-icon {
            margin-bottom: -.1em;
          }

          .type-name {
            font-size: rem-calc(14);
            font-weight: $font-weight-bold;
          }
        }
      }

      &.action {
        position: relative;
        flex: rem-calc(0 0 50);
        padding: 0;
        background-color: $c-cool-gray-3;
        text-align: center;

        @include select-op2-icon {
          @include op2-absolute-center;
        }
      }

      &:not(:first-child):not(.main):not(.action) {
        border-left: rem-calc(2) $c-cool-gray-4 solid;
      }
    }
  }

}
