@import 'variables';
@import 'typography';

$colors: (
  primary-blue: $c-primary-blue,
  black: $c-black,
  white: $c-white,
  warn-small: $c-warn-small,
  warn-large: $c-warn-large,
  pending: $c-pending,
  positive: $c-positive,
  primary-blue-1: $c-primary-blue-1,
  primary-blue-2: $c-primary-blue-2,
  primary-blue-3: $c-primary-blue-3,
  primary-blue-4: $c-primary-blue-4,
  primary-blue-5: $c-primary-blue-5,
  purple-1: $c-purple-1,
  purple-2: $c-purple-2,
  purple-3: $c-purple-3,
  purple-4: $c-purple-4,
  purple-5: $c-purple-5,
  beetroot-1: $c-beetroot-1,
  beetroot-2: $c-beetroot-2,
  beetroot-3: $c-beetroot-3,
  beetroot-4: $c-beetroot-4,
  beetroot-5: $c-beetroot-5,
  orange-1: $c-orange-1,
  orange-2: $c-orange-2,
  orange-3: $c-orange-3,
  orange-4: $c-orange-4,
  orange-5: $c-orange-5,
  yellow-1: $c-yellow-1,
  yellow-2: $c-yellow-2,
  yellow-3: $c-yellow-3,
  yellow-4: $c-yellow-4,
  yellow-5: $c-yellow-5,
  green-1: $c-green-1,
  green-2: $c-green-2,
  green-3: $c-green-3,
  green-4: $c-green-4,
  green-5: $c-green-5,
);

.line-chart-container {
  width: 100%; // to keep proper aspect ratio on Firefox

  .line-chart-content {
    position: relative;
    width: 100%;
    padding-bottom: 25%; /* aspect ratio */

    &.aspect-ratio-golden {
      padding-bottom: 56.25%; /* 16:9 */
    }

    .line-chart {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .axis {
        line,
        path {
          stroke: $c-cool-gray-3;
        }

        text {
          fill: $c-cool-gray-1;
        }

        &.y-axis {
          path {
            stroke-width: 0;
          }

          .tick {
            line {
              stroke: $c-cool-gray-3;
            }
          }
        }
      }

      .legend-label {
        font-weight: normal;
        font-size: rem-calc(12);
        fill: $c-cool-gray-1;
      }

      @each $color in map-keys($colors) {
        .legend-bullet-#{$color} {
          fill: map-get($colors, $color);
        }
        .graph-marker-#{$color} {
          fill: map-get($colors, $color);
          stroke: transparent;

          &:hover {
            stroke: map-get($colors, $color);
            stroke-opacity: 0.3;
          }
        }
        .line-graph-#{$color} {
          stroke: map-get($colors, $color);
        }
        .y-axis-#{$color} .tick text {
          fill: map-get($colors, $color);
        }
      }
    }
  }

  .tooltip {	
    background-color: $c-black;
    border: 0;
    border-radius: rem-calc(8);
    color: $c-white;
    font-size: rem-calc(12);
    position: absolute;	
    pointer-events: none;
      
    .tooltip-content {
      font-weight: normal;
      padding: rem-calc(15);
      font-size: $text-caption-size;
      line-height: $text-body-line-height;

      .caption {
        color: $c-white;
        margin-bottom: rem-calc(5);
      }

      .label {
        display: inline-block;
        color: $c-cool-gray-2;
        min-width: rem-calc(70);
      }
    }

    .arrow-down {
      position: absolute;
      left: 50%;
      margin-left: rem-calc(-10);
      width: 0; 
      height: 0; 
      border-left: rem-calc(10) solid transparent;
      border-right: rem-calc(10) solid transparent;
      border-top: rem-calc(10) solid $c-black;
    }    
  }
}

