@import 'basic';

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none;
  float: left;
  text-align: left;
  list-style: none;
  background-color: $c-white;
  background-clip: padding-box;
  margin: 0;
  padding: 0;
  border: 0 solid #ccc;
  border-radius: 0;
  box-shadow: rem-calc(0 12 12 0) rgba(95, 101, 108, 0.1);
  min-width: 8em;
  min-height: 6em;

  &.dropdown-menu-right {
    left: inherit;
    right: 0;
  }
}

.dropdown, .btn-group {
  position: relative;
  display: inline-block;
  overflow: visible;
  //font-size: 0;

  &.open {
    .dropdown-menu {
      display: block;
    }
  }
}
