// input text, password...
@import 'basic';

.fluid input {
  width: 100%;
}

.control-container {
  position: relative;
  padding-top: rem-calc(20);
  &.disabled {
    .input-icon {
      color:  $c-cool-gray-2;
    }
  }

  .label {
    position: absolute;
    font-size: rem-calc(14);
    color: $c-cool-gray-2;
    top: 0;
  }

  .input-icon {
    font-size: rem-calc(24);
    top: 50%;
    transform: translateY(-50%);
    padding-top: rem-calc(19);
    left: rem-calc(6);
    position: absolute;

    + input {
      padding-left: rem-calc(40);
    }
  }

  input {
    vertical-align: top;
    height: $op2-form-input-height;
    width: rem-calc(320);
    border: 1px solid $c-cool-gray-3;
    border-radius: rem-calc(4);
    padding: rem-calc(3 8);
    background: white;
    color: $c-black;
    outline: none;

    &:focus {
      border-color: $c-primary-blue;

      ~ .label {
        color: $c-black;
      }
    }

    &[disabled] {
      background-color: $c-cool-gray-3;
      color: $c-cool-gray-2;
    }
  }
}

// hide error until form is submitted
app-validation-messages {
  display: none;
}

.ng-submitted {
  .contol-container.invalid input {
    border-color: $c-warn-large;
  }

  app-validation-messages {
    display: inline;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $c-cool-gray-2;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $c-cool-gray-2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $c-cool-gray-2;
}
