body {
  @include t-body;

  font-family: $default-font;
  font-weight: $font-weight-regular;
  background-color: $c-cool-gray-4;
  margin: 0;
  height: 100%;
  padding: 0;
}

* {
  font-family: $default-font;
  box-sizing: border-box;
}

@keyframes clockwise-spin {
  100% {
    transform: rotate(360deg);
  }
}
