.container-fluid {
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    font-size: 0;
  }
  [class*="col-"]{
    position: relative;
    display: inline-block;
    min-height: rem-calc(1);
    font-size: 1rem;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .col-offset-12 {
    margin-left: 100%;
  }
  .col-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-offset-9 {
    margin-left: 75%;
  }
  .col-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-offset-6 {
    margin-left: 50%;
  }
.col-offset-5 {
    margin-left: 41.66666667%;
}
.col-offset-4 {
    margin-left: 33.33333333%;
}
.col-offset-3 {
    margin-left: 25%;
}
.col-offset-2 {
    margin-left: 16.66666667%;
}
.col-offset-1 {
    margin-left: 8.33333333%;
}
.col-offset-0 {
    margin-left: 0;
}

[class*="col-"]{
    &.gutter-2 {
        padding-right: rem-calc(1);
        &+[class*="col-"] {
            padding-left: rem-calc(1);
        }
    }
    &.gutter-4 {
        padding-right: rem-calc(2);
        &+[class*="col-"] {
            padding-left: rem-calc(2);
        }
    }
    &.gutter-8 {
        padding-right: rem-calc(4);
        &+[class*="col-"] {
            padding-left: rem-calc(4);
        }
    }
    &.gutter-16 {
        padding-right: rem-calc(8);
        &+[class*="col-"] {
            padding-left: rem-calc(8);
        }
    }
    &.gutter-32 {
        padding-right: rem-calc(16);
        &+[class*="col-"] {
            padding-left: rem-calc(16);
        }
    }
    &.gutter-64 {
        padding-right: rem-calc(32);
        &+[class*="col-"] {
            padding-left: rem-calc(32);
        }
    }
}

[class*="gutter-"]:last-child {
    padding-right: 0;
}

.vertical-gutter-2 {
    margin-top: rem-calc(2);
}

.vertical-gutter-4 {
    margin-top: rem-calc(4);
}

.vertical-gutter-8 {
    margin-top: rem-calc(8);
}

.vertical-gutter-16 {
    margin-top: rem-calc(16);
}

.vertical-gutter-32 {
    margin-top: rem-calc(32);
}

.vertical-gutter-64 {
    margin-top: rem-calc(64);
}
