.width-1 {
	width: 8.3%;
}

.width-2 {
	width: 16.6%;
}

.width-3 {
	width: 24.9%;
}

.width-4 {
	width: 33.2%;
}

.width-5 {
	width: 41.5%;
}

.width-5 {
	width: 41.5%;
}

.width-6 {
	width: 49.8%;
}

.width-7 {
	width: 58.1%;
}

.width-8 {
	width: 66.4%;
}

.width-9 {
	width: 74.7%;
}

.width-10 {
	width: 83%;
}

.width-11 {
	width: 91.3%;
}

.width-12 {
	width: 99.6%;
}
