@import 'basic';
@import 'typography';

a {
  text-decoration: none;
  color: $c-primary-blue;
  cursor: pointer;

  &.jump-link {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: rem-calc(128);
    margin: 0 5% 5% 0;
    padding: rem-calc(24);
    text-align: center;
    border-radius: rem-calc(4);
    background-color: $c-white;
    color: $c-black;

    //&.active {
    &:hover {
      background-color: $c-primary-blue;
      color: $c-white;
    }

    > .title {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: $font-weight-bold;
      @include t-display;

      @include select-op2-icon {
        font-size: rem-calc(32);
        margin-right: rem-calc(16);
      }
    }

    > .label {
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      @include t-subheader;
    }

  }
}

op-async-container.busy a.jump-link {
  color: transparent;

  > span.title {
    @include select-op2-icon {
      display: none;
    }
  }
}
