@import 'functions';

@mixin op2-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin op2-link-self {
  &,
  &:active,
  &:hover,
  &:visited {
    @content;
  }
}

@mixin op2-link {
  a {
    @include op2-link-self {
      @content;
    }
  }
}

@mixin spark-line-colour($line: $c-primary-blue, $fill: $c-primary-blue-5) {
  // use ::ng-deep to avoid emulated view-encapsulation from adding attribute selectors to 'svg' or 'path', which
  // are not rendered by Angular
  ::ng-deep svg path {
    &.line {
      stroke: $line;
    }

    &.area {
      fill: $fill;
    }
  }
}

@mixin base-font-size-below-xlarge($xlarge-breakpoint: 1441px, $base-font-size: $rem-base * .8125) {
  @media (max-width: $xlarge-breakpoint - 1px) {
    html {
      font-size: $base-font-size;
    }
  }
}

@mixin op-option-group-common($selector) {
  #{$selector} {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &__item {
      margin: rem-calc(5);
      border-radius: rem-calc(4);
      border: $op2-border;
      cursor: pointer;

      #{$selector}--disabled & {
        background-color: $c-cool-gray-3;
        color: $c-cool-gray-2;
      }
    }

    &__item--checked {
      background-color: $c-primary-blue;
      color: $c-white;

      #{$selector}--disabled & {
        background-color: $c-cool-gray-2;
        color: $c-cool-gray-3;

        #{$selector}__subtitle,
        #{$selector}__icon {
          color: $c-cool-gray-3;
        }
      }
    }

    &__item--disabled {
      background-color: $c-cool-gray-3;
      color: $c-cool-gray-2;
      cursor: not-allowed;
    }

    &__item--checked,
    &__item--disabled {
      #{$selector}__subtitle, #{$selector}__icon {
        color: inherit;
      }
    }

    &__title {
      position: relative;

      &-text {
        font-size: rem-calc(20);
        font-weight: $font-weight-bold;
        display: inline-block;
        width: 80%;
      }

      &-checkmark {
        font-size: rem-calc(25);
        position: absolute;
        top: rem-calc(-6);
        right: 0;
      }
    }

    &__subtitle {
      margin-top: rem-calc(15);
      font-size: rem-calc(14);
      color: $c-cool-gray-1;

      #{$selector}--disabled & {
        color: $c-cool-gray-2;
      }
    }

    &__icon {
      margin-top: rem-calc(15);
      font-size: rem-calc(100);
      color: $c-cool-gray-1;
      & > span { display: inline-block; }

      #{$selector}--disabled & {
        color: $c-cool-gray-2;
      }
    }

    label {
      padding: rem-calc(30);
      display: inline-block;
      width: rem-calc(200);

      > input {
        display: none;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin op2-input-number {
  input[type=number] {
    -moz-appearance:textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

@mixin op2-spin($icon-dimension) {
  animation: clockwise-spin 2s linear infinite;
  width: rem-calc($icon-dimension);
  height: rem-calc($icon-dimension);
  display: inline-block;
}

@import 'icons/mixin';
@import 'mixins/all';
