@import 'basic';
@import 'typography';

div.section-header {
  width: 100%;
  padding: rem-calc(10 0);

  .title {
    display: inline-block;
    white-space: nowrap;
    @include t-headline;

    @include select-op2-icon {
      @include t-title;

      margin-right: rem-calc(8);
      color: $c-cool-gray-1;
    }
  }

  .metadata {
    @include t-body;
    color: $c-cool-gray-1;
    text-transform: uppercase;

    > .amount {
      @include t-title;
      color: $c-black;
      font-weight: $font-weight-bold;
      margin-right: rem-calc(6);
    }
  }

  .sub-headers {
      float: right;

      .sub-header-item {
        display: inline-block;
        margin-left: rem-calc(20);
      }
  }
}
