@import 'typography';

.table {
	display: table;
	margin: 0;
	vertical-align: top;
}
.table-row {
	display: table-row;
	vertical-align: top;
}
.table-header {
	display: table-header-group;
}
.table-body {
	display: table-row-group;
}
.table-footer {
	display: table-footer-group;
}
.table-col,
.table-cell {
	display: table-cell;
	vertical-align: top;
}

.text-align-right {
	text-align: right;
}

.table.table-default {
  width: 100%;
  font-size: rem-calc(16);
  border-collapse: collapse;

  @include select-op2-icon {
    font-size: rem-calc(24);
  }

  thead > tr {
    border-bottom-width: rem-calc(4);
  }

  th {
    @include t-caption;

    line-height: rem-calc(24);
    padding: 1rem;
    color: $c-cool-gray-1;
    text-align: start;

    &.sorted {
      @include t-subheader;

      text-transform: none;
      color: $c-black;
    }
  }

  tr {
    border-bottom: 0.125em $c-cool-gray-3 solid;
  }

  td {
    padding: 1rem;
    vertical-align: middle;

    span.group {
      display: inline-block;
    }

    span.title {
      font-weight: $font-weight-bold;
      display: block;
    }

    &:first-child {
      @include select-op2-icon {
        vertical-align: top;
        margin: rem-calc(8);
        color: $c-cool-gray-3;
      }
    }
  }
}
