@font-face {
  font-family: 'Soleil';
  src: url('/assets/fonts/Soleil-Regular.otf'),
  url('/assets/fonts/soleil-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/soleil-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Soleil';
  src: url('/assets/fonts/Soleil-Bold.otf'),
  url('/assets/fonts/soleil-bold-webfont.woff2') format('woff2'),
  url('/assets/fonts/soleil-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Font
$default-font: Soleil, 'Source Sans Pro', sans-serif;

$font-weight-bold: 700;
$font-weight-regular: 400;

$text-display-size: rem-calc(42);
$text-display-line-height: rem-calc(54);

$text-headline-size: rem-calc(28);
$text-headline-line-height: rem-calc(36);

$text-title-size: rem-calc(20);
$text-title-line-height: rem-calc(32);

$text-subheader-size: rem-calc(16);
$text-subheader-line-height: rem-calc(24);

$text-body-size: rem-calc(14);
$text-body-line-height: rem-calc(18);

$text-caption-size: rem-calc(12);
$text-caption-line-height: rem-calc(16);
$text-caption-letter-spacing: rem-calc(0.86);

$text-small-size: rem-calc(10);
$text-small-line-height: rem-calc(16);

@mixin t-display {
  font-size: $text-display-size;
  line-height: $text-display-line-height;
}

@mixin t-headline {
  font-size: $text-headline-size;
  line-height: $text-headline-line-height;
}

@mixin t-title {
  font-size: $text-title-size;
  line-height: $text-title-line-height;
}

@mixin t-subheader {
  font-size: $text-subheader-size;
  line-height: $text-subheader-line-height;
}

@mixin t-body {
  font-size: $text-body-size;
  line-height: $text-body-line-height;
}

@mixin t-caption {
  font-size: $text-caption-size;
  letter-spacing: $text-caption-letter-spacing;
  line-height: $text-caption-line-height;
  text-transform: uppercase;
}

@mixin t-small {
  font-size: $text-small-size;
  line-height: $text-small-line-height;
}

b, .bold {
  font-weight: $font-weight-bold;
}

h1, .h1, .t-display {
  @include t-display;
}

.t-display-bold {
  @include t-display;
}

h2, .h2, .t-headline {
  @include t-headline;
}

h3, .h3, .t-title {
  @include t-title;
}

h4, .h4, .t-subheader {
  @include t-subheader;
}

.t-body {
  @include t-body;
}

h5, .h5, .t-caption {
  @include t-caption;
}

h6, .h6, small, .small, .t-small {
  @include t-small;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-regular;
}

.text-success {
  //color: $c-positive;
}

.text-danger {
  //color: $c-warn-large;
}

p {
  margin: 0;
  padding: 0;
}
