@import 'functions';

// Colors
// https://braveux.github.io/rokt-pattern-library/color

$c-primary-blue: rgb(33, 153, 244);     // #2199F4
$c-black: rgb(32, 32, 34);              // #202022
$c-white: rgb(255, 255, 255);           // #FFFFFF

$c-modal: rgba(32, 32, 34, .9);         // #202022
$c-cool-gray-0: rgb(76, 78, 81);        // #4C4E51
$c-cool-gray-1: rgb(95, 101, 108);      // #5F656C
$c-cool-gray-2: rgb(172, 181, 190);     // #ACB5BE
$c-cool-gray-3: rgb(234, 235, 237);     // #EAEBED
$c-cool-gray-4: rgb(246, 245, 245);     // #F6F5F5

$c-banner-plain: rgb(104, 100, 98);     // #686462

$c-warn-small: rgb(188, 54, 43);        // #BC362B
$c-warn-large: rgb(240, 64, 50);        // #F04032
$c-pending: rgb(234, 220, 71);          // #EADC47
$c-positive: rgb(4, 176, 124);          // #04B07C

$c-primary-blue-1: rgb(0, 88, 173);     // #0058AD
$c-primary-blue-2: rgb(33, 153, 244);   // #2199F4
$c-primary-blue-3: rgb(121, 193, 253);  // #79C1FD
$c-primary-blue-4: rgb(204, 232, 254);  // #CCE8FE
$c-primary-blue-5: rgb(230, 244, 255);  // #E6F4FF

$c-purple-1: rgb(50, 51, 128);          // #323380
$c-purple-2: rgb(81, 84, 209);          // #5154D1
$c-purple-3: rgb(117, 119, 232);        // #7577EB
$c-purple-4: rgb(176, 176, 255);        // #B0B0FF
$c-purple-5: rgb(216, 216, 240);        // #D8D8F0

$c-beetroot-1: rgb(181, 30, 109);       // #B51E6D
$c-beetroot-2: rgb(216, 97, 164);       // #D861A4
$c-beetroot-3: rgb(246, 153, 194);      // #F699C2
$c-beetroot-4: rgb(244, 204, 224);      // #F4CCE0
$c-beetroot-5: rgb(245, 230, 237);      // #F5E6ED

$c-orange-1: rgb(214, 94, 15);          // #D65E0F
$c-orange-2: rgb(242, 132, 58);         // #F2843A
$c-orange-3: rgb(250, 175, 125);        // #FAAF7D
$c-orange-4: rgb(250, 212, 187);        // #FAD4BB
$c-orange-5: rgb(250, 235, 225);        // #FAEBE1

$c-yellow-1: rgb(248, 212, 38);         // #F8D426
$c-yellow-2: rgb(250, 227, 112);        // #FAE370
$c-yellow-3: rgb(247, 255, 128);        // #F7FF80
$c-yellow-4: rgb(248, 252, 189);        // #F8FCBD
$c-yellow-5: rgb(251, 252, 227);        // #FBFCE3

$c-green-1: rgb(10, 104, 48);           // #0A6830
$c-green-2: rgb(73, 171, 68);           // #49AB44
$c-green-3: rgb(157, 224, 191);         // #9DE0BF
$c-green-4: rgb(198, 247, 223);         // #C6F7DF
$c-green-5: rgb(227, 252, 240);         // #E3FCF0

// form
$op2-form-input-height: rem-calc(40);

// Top-nav
$top-nav-height: rem-calc(64);
$top-nav-padding: rem-calc(20);
$top-nav-line-height: rem-calc(24);
$top-nav-dropdown-menu-vertical-border: rem-calc(2) $c-cool-gray-4 solid;

// Side-nav
$side-nav-width: rem-calc(250);
$side-nav-collapsed-width: rem-calc(70);

// Search-result
$op-search-result-item-border-radius: rem-calc(4);
$op-search-result-item-height: rem-calc(48);
$op-search-result-item-margin: rem-calc(8);
$op-search-result-container-max-visible-items: 5 !default;
$op-search-result-container-max-height: $op-search-result-item-height * $op-search-result-container-max-visible-items
  + $op-search-result-item-margin * ($op-search-result-container-max-visible-items + 1);
$op-search-result-container-min-height: $op-search-result-item-height + $op-search-result-item-margin * 2;
$op-search-result-place-title-font-size: rem-calc(15);
$op-search-result-place-type-font-size: rem-calc(13);
$op-search-result-place-subtitle-font-size: $op-search-result-place-type-font-size;

// Thermometer
$op-thermometer-from-color: $c-primary-blue-1 !default;
$op-thermometer-to-color: $c-warn-large !default;
$op-thermometer-bg-color: $c-cool-gray-3 !default;

// Z-indices
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

// common
$op2-border: 1px $c-cool-gray-3 solid;
$op2-box-shadow: rem-calc(-2 6 20 0) rgba(black, .25);
$bg-translucent-overlay: rgba($c-white, .75);
$op2-border-radius-round: 9999px;
