$backdrop-color: #aaa;

.cdk-overlay-backdrop {
  position: fixed;
  z-index: $zindex-modal-backdrop;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &.cdk-overlay-backdrop-showing.dark-backdrop {
    background: $backdrop-color;
    opacity: 0.85;
  }
}

.cdk-global-overlay-wrapper {
  position: fixed;
  z-index: $zindex-modal;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .cdk-overlay-backdrop + & {
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
  }
}

.cdk-overlay-pane.wizard-shell-panel {
  height: 100%;
  width: 100%;
}
