@import 'basic';
@import 'typography';

:host {
  display: block;
  position: relative;
  text-align: start;
}

.search-box-result {
  box-shadow: $op2-box-shadow;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0;
  width: rem-calc(60);
  transform: translateY(-50%);
  font-size: rem-calc(24);
  text-align: center;
}

input {
  padding: rem-calc(4 8 2.4 60);
  font-size: rem-calc(14);

  &:focus {
    border: 1px solid $c-cool-gray-4;
    border-radius: rem-calc(4);

    + .search-icon {
      color: $c-primary-blue;
    }
  }
}
