@import 'basic';
@import 'typography';

$border-radius: $op-search-result-item-border-radius;
$search-result-item-height: $op-search-result-item-height;
$margin: $op-search-result-item-margin;

:host {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin: $margin;
  height: $search-result-item-height;
  width: calc(100% - #{$margin * 2});
  border: 0;
  border-radius: $border-radius;
  background-color: $c-white;

  &:hover .visible-on-hover {
    visibility: visible;
  }
}

.visible-on-hover {
  visibility: hidden;
}

.result-item__col {
  flex: 0 0 0;
  padding: rem-calc(8);
  background-color: white;
  white-space: nowrap;

  &-icon {
    position: relative;
    height: 100%;
    min-width: $search-result-item-height;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: $c-cool-gray-1;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $c-white;
      font-size: rem-calc(20);
    }
  }

  &-text {
    text-align: left;
    flex: 1 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-btn {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $c-primary-blue;
  }
}

// style matched patterns in search result items
mark {
  display: inline-block;
  background-color: $c-yellow-1;
  font-weight: $font-weight-bold;
}
