@import 'basic';

.trigger {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  height: $top-nav-height;
  padding: $top-nav-padding;
  line-height: $top-nav-line-height;
  cursor: pointer;
  text-align: start;

  .option {
    display: inline-block;
    position: relative;
    top: .1em;
    flex: 1 1 rem-calc(80);
    line-height: $top-nav-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @include select-op2-icon {
    font-size: $top-nav-line-height;
    flex: 0 0 rem-calc(16);
  }

  &__icon {
    margin-right: rem-calc(10);
  }
}

.dropdown-menu {
  min-height: 0;
  min-width: 100%;

  .menu-section {
    border-top: $top-nav-dropdown-menu-vertical-border;
    padding: rem-calc(16);
  }

  .footer button.primary {
    min-width: rem-calc(160);
  }
}

:host {
  display: block;
  position: relative;

  &.open .trigger__icon {
    color: $c-primary-blue;
  }
}
