<a #toggle class="toggle" (click)="contentState = contentState === 'expanded' ? 'collapsed' : 'expanded'">
  <span class="icon op2-icon-settings"
        [@gearDisplay]="{value: contentState, params: {duration: duration}}"></span>
  <span class="prompt" i18n>Advanced Options</span>
  <span class="arrow icon">
    <i *ngIf="showArrow" class="icon op2-icon-open"
       [@arrowDisplay]="{value: contentState, params: {duration: duration}}"></i></span>
</a>
<div class="content-container advanced-options-content"
     [@boxDisplay]="{value: contentState, params: {height: contentHeight, duration: duration}}"
     [ngClass]="contentState">
  <div #contentBox class="content-box">
    <ng-content></ng-content>
  </div>
</div>
