@import '../style/variables';

$adv-opt-margin-bottom: rem-calc(24);
$adv-opt-toggle-color: $c-cool-gray-1;
$adv-opt-toggle-line-height: rem-calc(28);
$adv-opt-toggle-spacing: rem-calc(8);
$adv-opt-toggle-font-size: rem-calc(14);
$adv-top-toggle-icon-font-size: rem-calc(24);
$adv-top-toggle-arrow-padding: rem-calc(8);
$adv-opt-body-margin-left: rem-calc(12);
$adv-opt-body-padding: rem-calc(32);
$adv-opt-body-border-color: $c-cool-gray-3;
$adv-opt-body-border-width: rem-calc(2);
$adv-opt-body-border: $adv-opt-body-border-color $adv-opt-body-border-width solid;

:host {
  display: block;
  margin-bottom: $adv-opt-margin-bottom;

  .toggle {
    text-decoration: none;
    display: inline-block;
    color: $adv-opt-toggle-color;
    font-size: $adv-opt-toggle-font-size;
    font-weight: 700;
    line-height: $adv-opt-toggle-line-height;
    cursor: pointer;

    .icon {
      display: inline-block;
      font-size: $adv-top-toggle-icon-font-size;
      margin-right: $adv-opt-toggle-spacing;
      vertical-align: top;
    }

    .arrow {
      float: right;
      margin-left: $adv-top-toggle-arrow-padding;
    }
  }

  .content-container {
    overflow: hidden;
    position: relative;

    &.expanded:not(.ng-animating) {
      overflow: visible;
    }
  }

  .content-box {
    position: absolute;
    margin-left: $adv-opt-body-margin-left;
    padding: $adv-opt-body-padding;
    border-left: $adv-opt-body-border;
  }
}
